.important {
  color: purple;
}
.Days {
  color: yellow;
}
.hours {
    color: green;
}
img {
  float: left;
}
.box1 {
  width: 50%;
  padding: 10px;
  border: solid black;
  border-width: 1px;
  background-color: white;
  margin-bottom: 500px;
  box-sizing: border-box;
}