li.flashy {
  color: red;
  font-style: italic; 
}
.important {
  color: purple;
}
.Days {
  color: yellow;
}
.hours {
    color: green;
}
img {
  float: left;
}
.sidebar {
  width: 10%;
  float: left;
  background-color: blue
}
.column {
  width: 150px;
  float: right;
}